

.py-5{
    height: 6cm;
}


.section-recuperar{
    background-image: url(https://images.pexels.com/photos/6413633/pexels-photo-6413633.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) ;
    background-size: cover;
    padding: 0;
    height: 18cm;
}
.div-formulario{
    margin: 0%;
}

.titulo{
    color: #fff;
    margin-top: 2cm;
}